Cython==0.29.37
imageio==2.34.2
lazy_loader==0.4
networkx==3.1
numpy==1.24.4
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
scikit-image==0.21.0
scipy==1.10.1
tifffile==2023.7.10
screeninfo==0.8.1
dash==2.17.0
pandas==2.0.3
